div {
	text-align:center;
	}


body{
    background-color:rgb(213, 213, 213);
}
h1, h2 {
    color: red;
}

hr{
    color: red;
    }


img {
    border: solid 10px red;
}

a{ 
    text-align: center;
    background-color: blue;
    color: antiquewhite;
    text-decoration: none;
    padding: 8px;
    margin: 12px;
    transition: all 0,3 ease;

}
div{
    margin: 40px auto;
    box-shadow: 2px 3px 2px 3px rgb(0,0,0, 0.5);
    border-radius: 8px;
    padding: 0px 40px;
}